<div class="big-container">


  <div class="search-container">
    <input type="text" class="search-input" placeholder="Search..." [(ngModel)]="filtre" (ngModelChange)="trierTableau()" (keyup.enter)="scrollToTab()">
    <button class="search-button">
      <i class="fa fa-search" (click)="scrollToTab()"></i>
    </button>
  </div>
  <div class="text">

    <div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
      <h1 class="text-3xl font-bold mb-4">{{ jsonData.title | translation }}</h1>
      <p class="text-lg text-gray-700 mb-8" *ngFor="let texte of jsonData.texte | translation">
        {{ texte }}
      </p>
      <div class="container">
        <div class="field">
          <div class="scroll" (click)="scrollToTab()"></div>
        </div>

      </div>
    </div>
  </div>


  <div class="code-box-container" id="tab">
    <code-box *ngFor="let block of tableau" [titre]="block.title" [code]="block.code"
      [description]="block.description"></code-box>
  </div>
</div>
